<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <title>FlaskBlog</title>
   <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <style>
     body {background: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg) repeat-y, 
                       #fc0 url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg) repeat-y 100% 0;
          }
    </style>
      <h1>Welcome to Main_Blog</h1>
      <img src="https://telegram.org/file/811140981/1/9ypk7z_8T4Q/4381a7a74256fe0b9b" alt="Foto Albert Einstein" title="Albert Einstein">
      <h2>About me:</h2>
    <ul>
      <li>Email: _______@gmail.com</li>
      <li>Telefon: +48 123 123 123</li>
    </ul>
    
    <form action="" method="POST">
      <label for="story">Tell us your story:</label>
      <textarea id="story" name="story" rows="5" cols="33">It was a dark and stormy night...</textarea>
      <input type="submit"/>
    </form>
  </body>
</html>
